._myimage_loading{
    align-content: center;
}

._myimage{
    padding: 30px;
    margin: 5% 2%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    box-shadow:0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color: #fff;
    border-radius: 20px;
}

.load-files-frame{
    padding: 30px;
    margin: 5% 2%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    box-shadow:0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color: #fff;
    border-radius: 20px;
}

.single-image-frame{
    margin: 10px 20px;
    padding: 10px;
    width: 40%;
    height: 200px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 10px;
}

.single-image{
    float: left;
}

.write-paper-frame{
    height: 100%;
}
.write-paper-frame form{
    height: 50%;
}
.write-paper-frame table{
    all:unset;
}
.write-paper-frame table .contents-input{
    width: 90%;
}
.write-paper-frame .contents-title-stroy-input{
    width:100%;
}
.write-paper-frame .submit-btn{
    float: right;
}

textarea[name="contents-story"]
{
    resize: none;
}